.rating-stars {
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  white-space: nowrap;
  clear: both;
  li {
    display: block;
    text-overflow: clip;
    white-space: nowrap;
    z-index: 1;
    i {
      font-size: 14px;
      color: #ccc;
      display: inline;
    }
  }
  li.stars-active {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    i {
      color: orange;
    }
  }
}
